@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Slabo+27px&display=swap');


:root{
	--fondo: rgb(254, 250, 245);
	--verdeF: rgb(19,64,69);
	--verdeC: rgb(87,170,59);
	--gris: rgb(146,145,144);
}


body{
	background-color: var(--fondo);
	font-family: "Open Sans", sans-serif;	
}

.logoimg{
   width: 80px;
}

a{
	text-decoration: none;
}

nav > a{
	color: var(--verdeF);
}

nav > a:hover{
	color: var(--gris);
}

.colorverde{
	color: var(--verdeC);
	margin-right: 15px;
  }


.botonverdeC{
	color: white;
	background-color: var(--verdeC);
	border-radius: 4px;
	border-color: var(--verdeC);
	height: 50px;
	width:130px;
}

.formemail >button {
	color: white;
	font-size: 18px;
	background-color: var(--verdeF);
	border-radius: 0 5px 5px 0;
	text-align: center;
	height: 54px;
	width: 130px;
	margin-left: -4px;

}

.formemail >input{
	border-radius: 5px 0 0 5px;
	margin-right: -2px;
	border: solid 1px var(--gris);
	height: 50px;
	width:220px;
	text-align: center;
	font-size: 18px;
}

.titulo{
	font-size: 60px;
	color: var(--verdeF);
	font-family: Lobster;
}

.titulo2{
	font-size: 40px;
	color: var(--verdeF);
	font-family: Lobster;
	margin-left: 20px;
}

.textogris{
	color:var(--gris);
	font-size: 17px;
}

h6 {
	color: var(--gris);
	font-size: 15px;
}

.Slabo {
 	font-family: 'Slabo 27px';
 	font-size: 20px;
 	color
 }

.centrar{
	text-align: center;

}

header {
	/*aqui definimos que header va a ser un contenedor flexible (contenedor padre)*/
	display: flex;
	/*por default el flex direction es row*/
	flex-direction: row;
	/*es para acomodar de acuerdo al eje principal */
	justify-content: center;
	/*es para acomodar de acuerdo al eje cruzado*/
	align-items: center;
}

nav{
	width:40%;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

.logodiv{
	width: 30%;
	display: flex;


}

.botondiv{
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.tercerseccion {
	display: flex;
	justify-content: center;
	margin-left: 170px;
	margin-right: 230px;
	margin-bottom: 100px;
}

.margen {
	margin-left: 20px;
}

/*cuarta sección*/

h2 {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 65px;
	margin-right: 140px;;
}

.parrafos {
	color: var(--gris); 
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 65px;
	margin-right: 140px;
}

.parrafosverdes {
	color: var(--verdeC);
	font-size: 15px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 65px;
	margin-right: 140px;

}

.cuadroverde {
	display: flex;
	justify-content: center;
	background: var(--verdeF)
}

.cuadroverde1 {
	display: flex;
	justify-content: center;
	background: var(--verdeF)
}

.cuadroblanco{
	background: white;
	margin: 50px;
	border-radius: 4px;
	
}


	







