
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Comme:wght@100&display=swap');

body{
	font-family: Caveat;
}

header{
	background-color: #87CEEA;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: yellow;
	font-size: 40px;
	font-family: Caveat;
	height: 50px;
}

.your{
	color: gray;
	font-family: Comme;
	background-color: #F5F5F5;
	height: 70px;
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section{
	display: grid;
	grid-template-columns: repeat(5, 135px);
	grid-template-rows: repeat(5, 100px);
	column-gap: 70px;
	grid-row-gap: 40px;
}

section > div{
	margin-left: 30px;
	height: 100px;
	width: 100px;
	}

	.mon{
		grid-column-start: 1;
		grid-row-start: 1;
		background-color: #87CEEA;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 20px;
	}

	.insert{
		grid-column-start: 2;
		grid-row-start: 1;
		background-color: #F0E68D;
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
		font-size: 16px;
		font-family: Comme;
	}

	.vacio1{
		background-color: #F0E68D;
		grid-column-start: 3;
		grid-row-start: 1;
	}
	
	.vacio2{
		background-color: #F0E68D;
		grid-column-start: 4;
		grid-row-start: 1;
	}
	

	.reminder{
		grid-column: 5;
		grid-row: 1 / 5;
		background-color: #F0E68D;
		font-size: 30px;
		height: 660px;
		width: 480px;
		text-align: center;
		}

	.tue{
		background-color: #87CEEA;
		grid-column-start: 1;
		grid-row-start: 2;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 20px;
	}
	
	.vacio3{
		background-color: #F0E68D;
	}
	
	.vacio4{
		background-color: #F0E68D;
	}

	.vacio5{
		background-color: #F0E68D;
	}
	
	
	.wed{
		grid-column-start: 1;
		grid-row-start: 3;
		background-color: #87CEEA;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 20px;
	}

	.vacio6{
		background-color: #F0E68D;
		grid-column-start: 2;
		grid-row-start: 3;
	}
	
	.vacio7{
		background-color: #F0E68D;
		grid-column-start: 3;
		grid-row-start: 3;
	}

	.vacio8{
		background-color: #F0E68D;
		grid-column-start: 4;
		grid-row-start: 3;
	}

	.thu{
		grid-column-start: 1;
		grid-row-start: 4;
		background-color: #87CEEA;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 20px;
	}

	.vacio9{
		background-color: #F0E68D;
		grid-column-start: 2;
		grid-row-start: 4;
	}
	.vacio10{
		background-color: #F0E68D;
		grid-column-start: 3;
		grid-row-start: 4;
	}
	.vacio11{
		background-color: #F0E68D;
		grid-column-start: 4;
		grid-row-start: 4;
	}
	.fry{
		grid-column-start: 1;
		grid-row-start: 5;
		background-color: #87CEEA;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 20px;
	}

	.vacio12{
		background-color: #F0E68D;
		grid-column-start: 2;
		grid-row-start: 5;
	}
	.vacio13{
		background-color: #F0E68D;
		grid-column-start: 3;
		grid-row-start: 5;
	}
	.vacio14{
		background-color: #F0E68D;
		grid-column-start: 4;
		grid-row-start: 5;
	}